<tbody>
{% for cellule in cellules %}
 {% block cellule_table_row %}
<tr data-uniturl="{{ cellule.unit_action_url|default('#') }}" data-cellule-id="{{ cellule.id_cellule }}">
        <td class="checkbox-column form-group">
            <div class="md-checkbox md-checkbox-inline">
                <label>
                    <input type="checkbox" id="bulk_action_selected_cellule-{{ cellule.id_cellule }}" name="bulk_action_selected_cellule[]" value="{{ cellule.id_cellule }}">
                    <i class="md-checkbox-control"></i>
                </label>
            </div>
        </td>
        <td>
            <label class="form-check-label" for="bulk_action_selected_cellule-{{ cellule.id_cellule }}">
                {{ cellule.id_cellule }}
            </label>
        </td>
        <td>
            <a href="{{ cellule.url|default('') }}#tab-step1"><img src="/prestashop/img/cellule_logo/{{ cellule.logo|raw }}" 
            alt="" class="imgm img-thumbnail" style="width:150px;"></a>
        </td>
        <td>
            <a href="{{ cellule.url|default('') }}#tab-step1">{{ cellule.nom|default('N/A'|trans({}, 'Admin.Global')) }}</a>
        </td>
        <td>
            {{ cellule.email|default('') }}
        </td>
         <td>
            {{ cellule.telephone|default('') }}
        </td>
         <td>
            {{ cellule.adresse|default('') }}
        </td>
        <td>
            {{ cellule.Imm_fiscale|default('') }}
        </td>

       <td class="text-center">
    <button type="button" class="toggle-cellule btn{% if cellule.valid %}-success{% else %}-danger{% endif %}" data-id="{{ cellule.id_cellule }}" data-valid="{{ cellule.valid }}">
        {% if cellule.valid ==1 %}
            Accepter
        {% else %}
             Refuser
        {% endif %}
    </button>
   </td>
    
     <!-- actions -->
      <td>
      <div class="d-flex mt-2">
      <a class="pr-2" href="{{ path('admin_cellule_view', {'id_cellule': cellule.id_cellule}) }}">
      <span class="material-icons">visibility</span></a>
      <form method="post" action="{{ path('admin_cellule_delete', {'id_cellule': cellule.id_cellule}) }}">
       <a type="submit"><span class="material-icons" style="color:red;">delete</span></a>
      </form>
      </div>
      </td>
</tr>
{% endblock %}
{% endfor %}
</tbody>