<thead class="with-filters">
{% block cellule_form_table_header %}
 <tr class="column-headers">
 <th scope="col" style="width: 2rem"></th>
 <th scope="col" style="width: 5rem">
    {{ ps.sortable_column_header("ID"|trans({}, 'Admin.Global'), 'id_cellule', orderBy, sortOrder) }}
 </th>
 <th scope="col">
   {{ "logo"|trans({}, 'Admin.Global') }}
 </th>
 <th scope="col">
  {{ ps.sortable_column_header("nom"|trans({}, 'Admin.Global'), 'nom', orderBy, sortOrder) }}
 </th>
 <th scope="col" style="width: 9%">
  {{ ps.sortable_column_header("email"|trans({}, 'Admin.Global'), 'email', orderBy, sortOrder) }}
 </th>
 <th scope="col">
  {{ ps.sortable_column_header("telephone"|trans({}, 'Admin.Global'), 'telephone', orderBy, sortOrder) }}
 </th>
 <th scope="col" style="width: 9%">
  {{ ps.sortable_column_header("adresse"|trans({}, 'Admin.Global'), 'adresse', orderBy, sortOrder) }}
 </th>
  <th scope="col" style="width: 9%">
  {{ ps.sortable_column_header("Imm_fiscale"|trans({}, 'Admin.Global'), 'Imm_fiscale', orderBy, sortOrder) }}
 </th>
 <th scope="col" class="text-center">
  {{ ps.sortable_column_header("Status"|trans({}, 'Admin.Global'), 'active', orderBy, sortOrder) }}
 </th>
 <th scope="col" class="text-right" style="width: 3rem; padding-right: 2rem">
  {{ "Actions"|trans({}, 'Admin.Global') }}
 </th> 
</tr>
 {% endblock %}
   {% block cellule_table_filters %}
       {% set filters_disabled = activate_drag_and_drop %} 
        <tr class="column-filters">
          <th>&nbsp;</th>
          <th>&nbsp;</th> 
          <th>&nbsp;</th>  
          <th>
            <input
              type="text"
              class="form-control"
              placeholder="{{ "Search name"|trans({}, 'Modules.cellule.Admin') }}"
              name="filter_column_nom"
              value="{{ filter_column_nom }}"
               aria-label="{{ "%inputId% input"|trans({'%inputId%': 'filter_column_nom'}, 'Admin.Global') }}"
              {% if filters_disabled %}disabled{% endif %}
            />
          </th>
          <th>
            <input
              type="text"
              class="form-control"
              placeholder="{{ "Search email"|trans({}, 'Modules.cellule.Admin') }}"
              name="filter_column_email"
              value="{{ filter_column_email }}"
              aria-label="{{ "%inputId% input"|trans({'%inputId%': 'filter_column_email'}, 'Admin.Global') }}"
              {% if filters_disabled %}disabled{% endif %}
            />
          </th>
          <th>
            <input
              type="text"
              class="form-control"
              placeholder="{{ "Search téléphone"|trans({}, 'Modules.cellule.Admin') }}"
              name="filter_column_telephone"
              value="{{ filter_column_telephone }}"
              aria-label="{{ "%inputId% input"|trans({'%inputId%': 'telephone'}, 'Admin.Global') }}"
              {% if filters_disabled %}disabled{% endif %}
            />
          </th>
          <th>
            <input
              type="text"
              class="form-control"
              placeholder="{{ "Search adresse"|trans({}, 'Modules.cellule.Admin') }}"
              name="filter_column_adresse"
              value="{{ filter_column_adresse }}"
              aria-label="{{ "%inputId% input"|trans({'%inputId%': 'filter_column_adresse'}, 'Admin.Global') }}"
              {% if filters_disabled %}disabled{% endif %}
            />
          </th>
           <th>
            <input
              type="text"
              class="form-control"
              placeholder="{{ "Search Imm_fiscale"|trans({}, 'Modules.cellule.Admin') }}"
              name="filter_column_Imm_fiscale"
              value="{{ filter_column_Imm_fiscale }}"
              aria-label="{{ "%inputId% input"|trans({'%inputId%': 'filter_column_Imm_fiscale'}, 'Admin.Global') }}"
              {% if filters_disabled %}disabled{% endif %}
            />
          </th>
          <th id="cellule_filter_column_active" class="text-center">
            <div class="form-select">
              <select class="custom-select"  name="filter_column_active"{% if filters_disabled %} disabled{% endif %} aria-label="{{ "%inputId% select"|trans({'%inputId%': 'filter_column_active'}, 'Admin.Global') }}"
                >
                <option value=""></option>
                <option value="1" {% if (filter_column_active is defined) and filter_column_active == '1' %}selected="selected"{% endif %}>Active</option>
                <option value="0" {% if (filter_column_active is defined) and filter_column_active == '0' %}selected="selected"{% endif %}>Inactive</option>
              </select>
            </div>
          </th>

          <th class="text-right" style="width: 5rem">
            <button
              type="submit"
              class="btn btn-primary"
              name="cellules_filter_submit"
              title="{{ "Search"|trans({}, 'Admin.Actions') }}"
            >
              <i class="material-icons">search</i>
              {{ "Search"|trans({}, 'Admin.Actions') }}
            </button>
          </th>
        </tr>
      {% endblock %}
 </thead>